
  <div class="nav">
    <button
      *ngFor="let tab of tabs"
      type="button"
      class="nav-item"
      (click)="go(tab.id)"
      [class.active]="isActive(tab.id)"
      [class.center]="tab.isSpecial"
      [attr.aria-label]="tab.aria_label"
    >
      <ng-container *ngIf="tab.isSpecial; else standardIcon">
        <div class="create-btn" aria-hidden="true">
          <ion-icon [name]="tab.icon"></ion-icon>
        </div>
      </ng-container>

      <ng-template #standardIcon>
        <ion-icon [name]="tab.icon"></ion-icon>
      </ng-template>

      <span>{{ tab.label }}</span>
    </button>
  </div>