ion-app,
ion-content.app-bg {
  --background: transparent !important;
}

ion-content.app-bg::part(background) {
  background: 
    radial-gradient(
      80% 60% at 50% 0%,
      rgba(var(--ion-color-primary-rgb), 0.25) 0%, /* Utilise le RGB de ta variable */
      rgba(0,0,0,0) 70%
    ),
    linear-gradient(180deg, #0f1f1a 0%, #0b1220 55%, #070b12 100%);
  background-attachment: fixed; 
}