<ion-header translucent="true", class="custom-header ion-no-border">
  <!-- Ligne 1 -->
  <div class="top-bar">
    <div class="logo">
      FOOT<span>10</span>
    </div>

     <div class="icons">
      <ion-button fill="clear">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
    
  <!-- Ligne 2 -->
  <div class="sub-bar">
    <div class="city">Le Mans</div>

    <div class="right-actions">
      <ion-button fill="clear" size="small">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Carte</ion-label>
      </ion-button>
       <ion-button fill="clear">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-header>